@font-face {
    font-family: "CursedTimerULiL" ;
    src: url("font/CursedTimerULiL.ttf");
}

@media only screen and (max-width: 800px) {
    .container {
        max-width: 400px;
        overflow: hidden;
        padding: 20px;
    }

    #displayScoreHome {
       max-width: 75px;
       overflow: hidden;
    }

    .home > h1 {
        font-size: 20px;
    }

    #displayScoreGuest {
        max-width: 75px;
        overflow: hidden;
     }
 
     .guest > h1 {
         font-size: 20px;
     }

     .btn {
        color: white;
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 5px; 
        font-size: 10px;
        font-family: Poppins;
    }
    .btn-resetgame {
        background-color: transparent;
        border: 1px solid grey;
        color: white;
        border-radius: 5px; 
        font-family: Poppins;
        font-size: 10px;
    }
}

body {
    width: 100%;
    height: 100%;
}
.container {
    width: 40%;
    height: 300px;
    background-color: #4C1D95;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
}
.score {
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

.home > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#displayScoreHome {
    color:#F94F6D ;
    font-family: 'Cursed Timer ULiL';
    background-color: black;
    padding: 15px 2px;   
}

.guest > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#displayScoreGuest {
    color:#F94F6D ;
    font-family: 'Cursed Timer ULiL';   
    background-color: black;
    padding: 15px 2px;

}
.btn {
    color: white;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px; 
    padding: 10px;
    margin: 3px;
    font-family: Poppins;
}

.btn:hover {
    background-color: grey;
    cursor: pointer;
}

.btn-reset {
    display: flex;
    justify-content: space-around;
    
}

.btn-resetgame {
    margin-top: 5%;
    background-color: transparent;
    border: 1px solid grey;
    color: white;
    border-radius: 5px; 
    padding: 8px;
    font-family: Poppins;
}

.btn-resetgame:hover {
    background-color: black;
    cursor: pointer;
}

.footer > h1 {
    text-align: center;
    font-family: poppins;
    font-weight: 700;
    font-size: 15px;
}